{% load staticfiles %}
{% load tz %}

<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>Sushi</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
        <script src="https://use.fontawesome.com/c7295ae472.js"></script>
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}" media="screen" type="text/css">
        <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootflat.min.css' %}">
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800,700,400italic,600italic,700italic,800italic,300italic" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/style-portfolio.css' %}">
        <link rel="stylesheet" href="{% static 'css/picto-foundry-food.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/Footer-Basic.css' %}">
        <link rel="stylesheet" href="{% static 'js/jquery-ui.css' %}">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="icon" href="{% static 'favicon-1.ico' %}" type="image/x-icon">
		    <script type="text/javascript" src="{% static 'js/site.min.js' %}"></script>
		
		<style>
			
			
			#map { 
				height: 65%;			
				margin-top: -90px;
				//margin-bottom: -20px;
			}
		
		</style>
		
    </head>

    <body>
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="row">
                <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Ben Gui Sushi Bar</a>
						<i class="fa fa-cutlery" aria-hidden="true"></i>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav main-nav  clear navbar-right ">
                            <li><a class="navactive color_animation" href="#top">WELCOME</a></li>
                            <li><a class="color_animation" id="nav-about" href="#story">ABOUT</a></li>
                            <li><a class="color_animation" id="nav-menu" href="#menu">MENU</a></li>
                            <li><a class="color_animation" href="#contact">CONTACT</a></li>
                            
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div>
            </div><!-- /.container-fluid -->
        </nav>
         
        <div id="top" class="starter_container bg">
            <div class="follow_container">
                <div class="col-md-6 col-md-offset-3">
                    <h2 class="top-title">Ben Gui Sushi</h2>
                    <h2 class="white second-title">"Best sushi in Roanoke, Hands Down"</h2>
                    <hr>
                </div>
            </div>
        </div>

        <!-- ============ About Us ============= -->

        <section id="story" class="description_content">
            <div id="about" class="text-content container">
                <div class="col-md-6">
                    <h1>About us</h1>
                    <div class="fa fa-cutlery fa-2x"></div>
                    <p class="desc-text">Relaxed Japanese Restaurant Offering 5-Course Sushi &amp; Sake Tasting Menus, Plus à La Carte Ordering. Founded In 2007, We&#39;ve Been Doing Things Right Ever Since.</p>
					<p class="desc-text"><section id="location">Located at 4357 Starkey Rd, Roanoke, Va 24018.</section></p>
					<p class="desc-text"><i class="fa fa-phone-square" id="phone-glyph" aria-hidden="true"></i><b id="location">Call Us (540) 989-9999</b></p>
					
                </div>
                <div class="col-md-6">
                    <div class="img-section">
                       <img src="{% static 'img/sushi1.jpg' %}" width="250" height="220">
                       <img src="{% static 'img/sushi4.jpg' %}" width="250" height="220">
                       <div class="img-section-space"></div>
                       <img src="{% static 'img/sushi3.jpg' %}"  width="250" height="220">
                       <img src="{% static 'img/restaurant2.jpg' %}"  width="250" height="220">
                   </div>
                </div>
            </div>
        </section>
		
		<!-- ============ end About Us ============= -->
		
	<hr class="featurette-divider">
		
	<div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe src="https://www.youtube.com/embed/rC41Sngt4wU" frameborder="0" allowfullscreen></iframe>
            </div>           
          </div>
          <div class="col-md-6">
            <h1 class="text-center text-lead" id="myh1">Meet Our Chef</h1>
			<div id="glyph" class="fa fa-cutlery fa-2x"></div>            			
            <p class="desc-text"><em>Ben Gui Chen</em> Has Been Making Sushi In The Roanoke
              Valley For The Last 10 years.
              Ben Creates <mark>Unique Sushi Items With Quality Fish And Influences From Around The
              World</mark>. Ben Believes The Best Meal He Can Create Is One He Creates Personally!
              Please Join Us For <em>5 Courses Of Sushi Items</em> And Optional Saki For Every Course.
              We Also Server <em>Gluten Free</em> Options!</p>
              
          </div>
        </div>
      </div>
    </div>
	
	<hr class="featurette-divider">
	
    <div class="section" id="menu">
      <div class="container" id="menu-container">
        <div class="row">
          <div class="col-md-6">
            <h1 class="text-center text-lead" id="myh12">Why Sushi?</h1>
            <div id="glyph2" class="fa fa-cutlery fa-2x"></div>
            <p class="desc-text">Sushi Not Only Tastes Great, It's Great For You!
			Sushi Is Full Of <em>Nutrients</em>, Including <mark>Vitamins And Minerals</mark> Such As
			<em>Iodine</em> Not To Mention Protein. It's Rich In <em>Omega-3 Fatty Acids</em> Which
			Have Many Amazing Health Benefits. Even The Condiments Are Good For
			You. Soy Sauce Aids In <em>Digestion</em> And Kills Infection Causing Colon
			Bacillus. <em>Ginger</em> <em>Has A Myriad Of Health Promoting Assets.</em></p>
          </div>
          <div class="col-md-6">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe src="https://www.youtube.com/embed/N8-1VhHZXPE" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
	
	
	
			<div id="above_map_row" class="row" style="height: 320px;">
				<div class="col-md-6">
					<p>Visit Us. . .</p>
					<p style="color:white;">4357 Starkey Rd Roanoke, VA 24018</p>
				</div>
				<div class="col-md-6">
					<p>Call Us. . .</p>
					<p style="color:white;">1-540-989-9999</p>
				</div>
		   </div><!--end row-->
	
		
		<div id="map"></div>
		
        <!-- ============ Footer Section  ============= -->
	
        <div class="footer-basic" style="height:300px;">
        <footer>
            <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
            <ul class="list-inline">
                <li><a href="#">Home</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul>
            <p class="copyright">Home Office Web Development © 2016</p>
		</div>
        </footer>

		<script>
			var map;
			function initMap() {map = new google.maps.Map(document.getElementById('map'), {center: {lat: 37.228494, lng: -79.982947},zoom: 18});}							
		</script>
		<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8rHmxZETt_Z5y2p5DK3djT6vEx9MIbAE&callback=initMap"></script>
        <script type="text/javascript" src="{% static 'js/jquery-1.10.2.min.js' %}"> </script>
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}" ></script>
        <script type="text/javascript" src="{% static 'js/jquery-1.10.2.js' %}"></script>     
        <script type="text/javascript" src="{% static 'js/jquery.mixitup.min.js' %}" ></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>
      <!-- <script type="text/javascript" src="js/main.js" ></script> -->
		<script type="text/javascript" src="{% static 'js/scroll.js' %}"></script>

    </body>
</html>